<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Military Dining Hall Management System</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="window">
        <div class="title-bar">
            <span>MilitaryDiningHallManagementSystem</span>
        </div>
        <div class="content">
            <p>Welcome Maria Diaz!</p>
            <p>This month the dishes are:</p>
            <ul>
                <li>Breakfast: Bacon, egg and cheese sandwich</li>
                <li>Lunch: Cauliflower soup</li>
                <li>Dinner: Waffles</li>
            </ul>
            <div class="accountBalance">
                <span>Your account balance is: 60.5$</span>
            </div>
            <div class="actions">
                <button id="bookButton">Book a day</button>
                <button id="cancelButton">Cancel a day's booking</button>
                <button id="exitButton">Exit</button>
            </div>
            <div class="caledarView">
                <span>Here is the calender with the days you have reserved</span>
            </div>
            <div class="calendar">
                <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&height=200&wkst=1&hl=en&bgcolor=%23ffffff&src=en.indian%23holiday%40group.v.calendar.google.com&color=%23125A12&ctz=America%2FNew_York" style="border:solid 1px #777" width="200" height="200" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
