body {
    font-family: Arial, sans-serif;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.login-container button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}
.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0000FF; /* Ajusta el color de fondo según la imagen */
}

.splash-container img {
    max-width: 100%;
    max-height: 100%;
}
.menu-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-container h1 {
    margin-bottom: 20px;
}

.menu-options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

.menu-options button:hover {
    background-color: #45a049;
}