<!DOCTYPE html>
<html>
<head>
    <title>Create Shoes</title>
</head>
<body>
    <h1>Create Shoes</h1>
    <form id="shoesForm">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="price">Price:</label><br>
        <input type="text" id="price" name="price"><br>
        <label for="size">Size:</label><br>
        <input type="text" id="size" name="size"><br>
        <label for="brand">Brand:</label><br>
        <input type="text" id="brand" name="brand"><br><br>
        <input type="submit" value="Create">
    </form>

    <script src="CreateShoes.js"></script>
</body>
</html>