/ws11Collections/Workshop12/nbproject/private/
/ws11Collections/FromClassesToCoe/nbproject/private/
/ws11Collections/FromClassesToCode/nbproject/private/
/ws11Collections/FromClassesToCode/build/
/ws14/JavaLibrary1/nbproject/private/
/ws14/JavaLibrary1/build/
/ws14/JavaLibrary1/dist/
/ws14/ShoppingCenter/nbproject/private/
/ws14/ShoppingCenter/build/
/ws14/ShoppingCenter/dist/