<!DOCTYPE html>
<html>
<head>
    <title>Create Student</title>
</head>
<body>
    <h1>Create Student</h1>
    <form id="studentForm">
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" name="lastName"><br>
        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br><br>
        <input type="submit" value="Create">
    </form>

    <script src="CreateStudent.js"></script>
</body>
</html>